.signIn_container {
  width: 45%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  height: auto;
  padding: 15px 30px 25px;
  margin-top: 40px;

}

.signIn_container h1 {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 50px;
}

.signIn_container a {
  color: #DA7000;
  text-decoration: none;
}

.signIn_container p {
  text-align: justify;
}

.signIn_form p {
  text-align: right;
}

.signIn_form a {
  color: #DA7000;
  text-decoration: none;
}

.signIn_form {
  display: flex;
  flex-direction: column;
}

.label_in {
  margin-bottom: 7px;
}

.label_in input {
  /* margin-bottom: 5px; */
  border: 1px solid #ccc;
  /* background: #E8F0FE; */
  padding: 10px 15px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  /* border: 0.5px solid rgb(202, 202, 202); */
}

.submit {
  margin-top: 75px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;

}

.submit:hover {
  background-color: #0056b3;
}

.error_message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
.password_field {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle_password {
  position: absolute;
  right: 10px;
  background: none;
  cursor: pointer;
  font-size: 20px;
  padding-top: 28px;
}

.toggle_password:hover {
  background: none;
}
@media screen and (max-width:760px) {
  .signIn_container {
    width: 100%;
    text-align-last: center;
  }
}